/*ABOUT SECTION
=======================================*/
#bios {
    display:flex;
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
}
#bios div {
    text-align: center;
    margin: 5% 2%;
    width: 100%;
}

#bios p {
    text-align: justify;
}

#about {
    display: block;
    text-align: center;
    margin-top: 5%;
}

/*HOME SECTION
=======================================*/
#home {
    margin: 2% 10%;
}

.instructions {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

/*RESULTS SECTION
=======================================*/

#results-page {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

#results {
    order: 1;
    margin: 0 auto;
    width: 50%;
}

#results h5 {
    margin: 0;
    flex-grow: 1;
}

#canvas {
    order: 2;
    margin: 0;
    flex-grow: 1;
}

#results-chart {
    width: 50%;
    margin: 0 auto;
}

#article-source {
    border-radius: 10%;
    margin: 0 auto;
    font-size: 4rem;
    margin-top: 0;
}

#vote {
    background-color: transparent;
}

#see-chart {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 2%;
    font-style: italic;
}

@media screen and (min-width: 500px) {
    #bios {
        flex-direction: row;
    }

    .instructions {
        width: 40%;
    }
}
