/*ABOUT SECTION
=======================================*/
#bios {
    display:flex;
    flex-direction: row;
    margin: 0 auto;
}
#bios div {
    text-align: center;
    margin: 5% auto;
    width: 100%;
}

#about {
    display: block;
    text-align: center;
    margin-top: 5%;
}

/*HOME SECTION
=======================================*/
#home {
    margin: 2% 10%;
}

.instructions {
    width: 40%;
    margin: 0 auto;
    text-align: center;
}

/*RESULTS SECTION
=======================================*/
#results-data {
    display:flex;
    flex-direction: row;
}

#results {
    order: 1;
}

#canvas {
    order: 2;
}

#article-source {
    text-decoration: underline;
    border-radius: 10%;
    width: 30%;
    margin: 0 auto;
    font-size: 5rem;
}